/* Styles specific to the HomepageFeatures component.
   See docs-dev/documentation-site/styling.md for guidance and
   packages/docs/src/pages/index.tsx for usage. */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
